body{
  background-color: hsl(218, 28%, 13%);
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1, h4{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}


/* Navigation Bar */
.navbar{
  padding: 5% 4%;
}
.nav-item{
  padding: 0 1.5rem;
}
.nav-link{
  color: white;
  font-family: 'Raleway', sans-serif;
}

/* Introduction */

.introduction{
  text-align: center;
}

.container{
  line-height: 1.5rem;
  padding: 2rem 11rem;
}

.p-introduction{
  padding: 2rem 9rem 1rem;
}

.btn {
  padding: .6rem 5rem;
  border-radius: 2rem;
  border-color: transparent;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.btn-grad {background-image: linear-gradient(to right, hsl(176, 68%, 64%) 0%, hsl(198, 60%, 50%) 90%)}

/* Features */

.feature-row{
  text-align: center;
  padding: 2rem 15rem;
}

.feature-item{
  padding: 5%;
}

.feature-icon{
  margin-bottom: 1rem;
}

/* Description */

.description-row {
  text-align: center;
  padding: 2rem 10rem;
}

.description {
  text-align: left;
  line-height: 1.5rem;
  padding: 7% 3% 2%;
}

/* Testimonials */

.card-deck{
  padding: 8rem 8rem;
}

.profile-description{
  padding-left: 3rem;
}

.quotes {
  position: relative;
  top: 137px;
  left: 115px;
  z-index: 1;
}

.card{
  background-color: #20293D;
}

.profile{
  float: left;
  width: 10%;
  border-radius: 50px;
}

.name{
  margin-bottom: 0;
}

/* Footer */

.footer {
  padding: 5% 5%;
  background-color: hsl(216, 53%, 9%);
}

.bottom-button {
  color: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
}

.row{
  padding-top: 20%;
}

.footer-logo {
  position: absolute;
  bottom: 10rem;
}

.fab {
  padding: 0 10px;
}

.fas {
  padding-right: 2rem;
}

.location{
  width: 22rem;
}